body {
    margin: 0px;
    padding: 0px;
}

img {
 margin-top: 2em;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

p {
    font-weight: bold;
    font-size: 16px;
    margin: 1%;
    padding: 2px;
    text-align: center;
    margin: auto;
}


h3 {
    
    color: red;
    padding-left: 10px;
    text-align: center;
}

.topo {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: orange;
    text-align: center;
}
.badled {
    width: 25%;
    float: left;
       
}


